<div id="createAccount" class="flex flex-col gap-8 p-6 justify-center items-center">
    <div class="flex flex-col flex-wrap items-center justify-center">
        <span class="text-3xl font-bold text-gray-800">Create New Account</span>
        <span class="text-gray-600">Open a new bank account</span>
    </div>
    <div class="bg-white rounded-xl shadow-lg p-8 w-full flex flex-col">
        <oj-c-form-layout id="createAccountForm" max-columns="2" direction="column" class="space-y-6">
            <oj-c-select-single id="accountType" label-hint="Account Type" placeholder="Select Account Type"
                value="{{accountType}}" data="[[accountTypesDataProvider]]" item-text="label" required="true"
                messages-custom="[[accountTypeError]]" on-value-changed="[[validateAccountType]]">
            </oj-c-select-single>
            <oj-c-select-single id="currency" label-hint="Currency" placeholder="Select Currency" value="{{currency}}"
                data="[[currenciesDataProvider]]" item-text="label" required="true" messages-custom="[[currencyError]]"
                on-value-changed="[[validateCurrency]]">
            </oj-c-select-single>
            <oj-c-input-text id="branchName" label-hint="Branch" placeholder="Enter branch name" value="{{branch}}"
                required="true" messages-custom="[[branchError]]" on-blur="[[onBranchBlur]]">
            </oj-c-input-text>
            <oj-c-input-number id="initialDeposit" label-hint="Initial Deposit (₹)" placeholder="Minimum 1000"
                value="{{initialDeposit}}" min="1000" required="true" messages-custom="[[initialDepositError]]"
                on-blur="[[onInitialDepositBlur]]">
            </oj-c-input-number>
        </oj-c-form-layout>
        <oj-c-button chroming="borderless" class="bg-gradient-to-br from-red-600 to-red-700 rounded-lg w-fit mx-auto"
            id="createAccountButton" label="Create Account" on-oj-action="[[createAccount]]">
        </oj-c-button>
    </div>
    <oj-if test="[[isLoading]]">
        <div class="fixed inset-0 bg-gradient-to-bl from-red-50 to-orange-50 bg-opacity-75 flex items-center justify-center z-50">
            <oj-c-progress-circle size="md" value="-1"></oj-c-progress-circle>
        </div>
    </oj-if>
</div>