<div id="dashboard" class="flex flex-col gap-8 p-8">
  <div class="flex flex-col gap-3 flex-wrap">
    <span class="text-2xl font-bold text-gray-800">Your Accounts</span>
    <div id="accountCards" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    </div>
  </div>
  <div class="flex flex-col flex-wrap gap-2">
    <span class="font-bold text-2xl">Quick Actions</span>
    <oj-c-form-layout id="quickActions" max-columns="3" direction="row">
      <oj-c-button label="Transfer Money" on-oj-action="[[showTransferView]]">
      </oj-c-button>
      <oj-c-button label="View Statements" on-oj-action="[[showStatementView]]">
      </oj-c-button>
      <oj-c-button label="Create Account" on-oj-action="[[showCreateAccountView]]">
      </oj-c-button>
    </oj-c-form-layout>
  </div>
  <oj-if test="[[isLoading]]">
    <div class="fixed inset-0 bg-gradient-to-bl from-red-50 to-orange-50 bg-opacity-75 flex items-center justify-center z-50">
      <oj-c-progress-circle size="md" value="-1"></oj-c-progress-circle>
    </div>
  </oj-if>
</div>