<div id="myAccounts" class="flex flex-col gap-8 p-8">
    <div class="flex flex-col flex-wrap justify-center">
        <span class="text-3xl font-bold text-gray-800">My Accounts</span>
        <span class="text-gray-600">Manage your bank accounts</span>
    </div>
    <div class="bg-white rounded-xl shadow-lg p-4 w-full flex flex-col">
        <oj-table id="accountsTable" data="[[accountsDataProvider]]" columns="[[columns]]" selection-mode.row="single"
            style="width: 100%;background-color: white;">
            <template slot="rowTemplate" data-oj-as="row">
                <tr>
                    <td>
                        <oj-bind-text value="[[row.data.accountNumber]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.accountType]]"></oj-bind-text>
                    </td>
                    <td>
                        ₹<oj-bind-text value="[[row.data.balance]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.isActive ? 'Active' : 'Inactive']]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-c-button label="Download Statement"
                            on-oj-action="[[()=>$context.$module.downloadAccountStatement(row.data.accountNumber);]]">
                        </oj-c-button>
                    </td>
                </tr>
            </template>
        </oj-table>
    </div>
    <oj-if test="[[isLoading]]">
        <div class="fixed inset-0 bg-gradient-to-bl from-red-50 to-orange-50 bg-opacity-75 flex items-center justify-center z-50">
            <oj-c-progress-circle size="md" value="-1"></oj-c-progress-circle>
        </div>
    </oj-if>
</div>